<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114284606224-kgoes3ie4041f4uqqbnj0aj3ue41sd17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114284606224-kgoes3ie4041f4uqqbnj0aj3ue41sd17</string>
	<key>API_KEY</key>
	<string>AIzaSyCvm1bXPnXU8GE1s5kH4p5GueQrD5G4VN8</string>
	<key>GCM_SENDER_ID</key>
	<string>114284606224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-192ae</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-192ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114284606224:ios:d347afc49ab0cadbd1ab95</string>
</dict>
</plist>